@use './media' as *;

@mixin base-layout-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 165px;
        z-index: 100 !important;
        @include desktop{
            padding: 20px 50px;
        }
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__list{
            display: flex;
            flex-direction: row;
            gap: 24px;
            align-items: center;
        }
        &__link{
            font-weight: 500;
            padding: 0px 7.5px;
            border-radius: 9px;
            line-height: 148%;
            &:hover{
                background-color: var(--hover-pink);
            }
        }
        &__img{
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

@mixin title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 0 0 48px 0;
    text-align: center;
    @include desktop{
        font-size: 40px;
        gap: 30px;
    }
    @include tablet{
        font-size: 36px;
    }
    @include mobile{
        font-size: 32px;
        gap: 15px;
    }

    &::before,
    &::after {
      content: '';
      width: 40px;
      height: 8px;
      background-color: var(--title);
      border-radius: 25px;
    }
  }

@mixin quantity {
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
        transition: 0.5s ease-in-out;
        &__button{
            position: relative;
            border-radius: 50%;
            background-color: #F4F4F4;
            color: var(--pink);
            font-size: 22px;
            @include desktop{
                font-size: 18px;
            }

            &:hover{
                cursor: pointer;
            }
            &::before{
                content: '';
                border-radius: 50%;
                border: 2px solid var(--pink);
                width: 21px;
                height: 21px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @include desktop{
                    width: 17px;
                    height: 17px;
                }
                @include mobile{
                    width: 15px;
                    height: 15px;
                }
            } 
    }
}

@mixin btnBuy {
    background-color: var(--pink);
    color: var(--white);
    font-weight: bolder;
    border-radius: 8px;
    transition: all 0.2s ease;
}

@mixin back {
    font-size: 16px;
    line-height: 24px;
    position: relative;
    display: flex;
    gap: 10px;

    &::before{
        content: '‹';
        margin-left: 8px;
        font-size: 26px;
        color: black;
    }
}