@use "../styles/mixins" as *;
@use "../styles/media" as *;

.title{
    @include title;
}
.contacts{
    position: relative;    
    padding: 0 0 100px 0 ;

    &__left, &__right{
        position: absolute;
        top: 0px;
    }
    &__left{
        left: 0;
        margin: 0 0 0 -165px;
        @include desktop{
            margin: 0 0 0 -130px;
        }
        @include tablet{
            margin: 0 0 0 -80px;
            width: 170px;
            top: -100px;
        }
        @include mobile{
            margin: 0 0 0 -70px;
            width: 140px;
            top: 50px;
        }
    }
    &__right{
        right: 0;
        margin: 0 -165px 0 0;
        @include desktop{
            margin: 0 -130px 0 0 ;
        }
        @include tablet{
            margin: 0 -80px 0 0;
            width: 170px;
        }
        @include mobile{
            margin: 0 -45px 0 0;
            width: 130px;
            top: 50px;
        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 255px;
        @include desktop{
            gap: 5px;
        }
        @include mobile{
            flex-direction: row;
            gap: 16px;
        }
    }
    &__content{
        text-align: center;
        @include mobile{
            text-align: start;
        }
    }
    &__itemSocial{
        @include mobile{
            flex-direction: column;
        }
    }
    &__social{
        display: flex;
        gap: 12px;
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
        @include desktop{
            gap: 25px;
        }
    }
    &__text{
        color: #1E272FCC;
        letter-spacing: 0.6px;
        line-height: 26px;
        @include mobile{
            text-align: start;
        }
    }
    &__infoMap{
        display: flex;
        gap: 30px;
        @include tablet{
            flex-direction: column;
        }
    }
    &__infoBottom,
    &__infoTop{
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: center;
        @include mobile{
            flex-direction: column;
        }
    }
    &__title{
        @include desktop{
            font-size: 20px;
        }
    }
    &__img{
        width: 50px;
        height: 50px;
        @include desktop{
            width: 44px;
            height: 44px;
        }
        @include mobile{
            width: 35px;
            height: 35px;
        }
    }
    &__map{
        height: 406px;
        width: 100%; 
        border-radius: 16px;
        @include desktop{
            height: 270px;
        }
        @include mobile{
            height: 200px;
        }
    }
}
