@use "../styles/media" as *;
.hero{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    gap: 60px;
    @include tablet{
        flex-direction: column;
        gap: 35px;
    }
    &__left,
    &__right{
        position: absolute;
        top: -100px;
        @include mobile {
            top: 0;
        }
    }
    &__left{
        left: 0;
        margin: 0 0 0 -165px;
        @include desktop{
            margin: 0 0 0 -110px;
        }
        @include mobile{
            margin: 0 0 0 -85px;
        }
    }
    &__right{
        right: 0;
        margin: 0 -165px 0 0;
        @include desktop{
            margin: 0 -110px 0 0;
        }
        @include mobile{
            margin: 0 -85px 0 0;
        }
    }
    &__title{
        font-size: 64px;
        line-height: 78px;
        color: #FF268E;
        font-weight: bolder;
        @include desktop{
            font-size: 60px;
        }
        @include tablet{
            text-align: center;
            font-size: 50px;
            line-height: 50px;
        }
    }
    &__subtitle{
        font-weight: 400;
        @include desktop{
            font-size: 18px;
        }
        @include tablet{
            text-align: center;
        }
    }
    &__container{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        @include tablet{
            gap: 30px;
            align-items: center;
        }
    }
    &__button{
        padding: 19px 38px;
        box-shadow: inset 0 0 0 3px #FF268E;
        border-radius: 8px;
        font-size: 24px;
        font-weight: bolder;
        color: #FF268E;
        &:hover{
            background-color: #FF268E;
            color: var(--white);
        }
        @include tablet{
            font-size: 18px;
            padding: 15px 40px;
        }
    }
    &__drawing{
        object-fit: fill;
    }
}

.sliderHero{
    position: relative;
    width: 560px;
    height: 530px;
    align-items: center;
    @include desktop{
        width: 500px;
        height: 410px;
    }
    @include tablet{
        width: 700px;
        height: 480px;
    }
    @include mobile{
        width: 100%;
        height: 290px;
    }

    :global(.swiper) {
        position: relative !important;
        height: 100% !important;
    }
    :global(.swiper-wrapper) {
        display: flex !important;
        height: 80% !important;
    }
    :global(.swiper-slide) {
        display: flex !important;
        top: 100px !important;
        @include mobile{
            top: 30px !important;
        }
    }
    :global(.swiper-slide-active) {
        transform: scale(2) translateY(25%) !important;
        top: 0 !important;
    }
    :global(.swiper-button-next),
    :global(.swiper-button-prev) {
        position: absolute !important;
        top: auto !important;
        bottom: 10px !important;
        transform: none !important;
        color: var(--white) !important;
        background-color: var(--hover-pink) !important;
        border-radius: 50% !important;
        width: 36px !important;
        height: 36px !important;
        z-index: 999 !important;

    &:hover {
        background-color: var(--white) !important;
        color: var(--hover-pink) !important;
    }
  }

    :global(.swiper-button-prev:after),
    :global(.swiper-button-next:after) {
        font-size: 14px !important;
        font-weight: bold !important;
    }

    :global(.swiper-button-next) {
        right: 5% !important;
    }

    :global(.swiper-button-prev) {
        left: 80% !important;
        @include desktop{
            left: 75% !important;
        }
        @include tablet{
            left: 80% !important;
        }
        @include mobile{
            left: 70% !important;
        }
    }

    &__img{
        @include desktop{
            width: 110px;
            height: 150px;
        }
        @include mobile{
            width: 65px;
            height: 100px;
        }
    }
}