@use "../../../app/styles/mixins" as *;
@use "../../../app/styles/media" as *;

.main{
    position: fixed;
    width: 100%;
    margin-left: -165px;
    margin-right: -165px;
    z-index: 5;
    background-color: var(--white);
    gap: 350px;
    @include desktop{
        margin-left: -50px;
        margin-right: -50px;
        gap: 0;
    }
    @include base-layout-block;
    .nav{
        &__link{
            font-size: 20px;
        }
    }
}
.mobileHeader{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 25px;
    background-color: var(--white);
    position: fixed;
    z-index: 7;
    width: 100%;
    top: 0;
    right: 0;
}