@use "../styles/mixins" as *;
@use "../styles/media" as *;

.title{
    @include title;
}

.specialConditions{
    &__list{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__item{
        display: flex;
        flex-direction: row;
        background-color: #EFEFEF;
        height: 140px;
        width: 100%;
        border-radius: 16px;
        padding: 20px 45px;
        align-items: center;
        gap: 55px;
        @include desktop{
            height: 120px;
        }
        @include tablet{
            height: 100px;
            padding: 30px 20px;
        }
        @include mobile{
            gap: 20px;
            height: auto;
        }
    }
    &__star{
        background-color: var(--pink);
        height: 100px;
        width: 100px !important;
        clip-path: polygon(100% 0, 85% 50%, 100% 100%, 50% 85%, 0 100%, 15% 50%, 0 0, 50% 15%);
        color: var(--white);
        font-size: 40px;
        line-height: 56px;
        font-weight: 600;
        flex-shrink: 0;
        @include desktop{
            height: 80px;
            width: 80px !important;
            font-size: 32px;
            line-height: 42px;
        }
        @include tablet{
            height: 60px;
            width: 60px !important;
            font-size: 26px;
            line-height: 32px;
        }
        @include mobile{
            height: 45px;
            width: 45px !important;
            font-size: 18px;
            line-height: 24px;
    }
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__text{
        font-size: 32px;
        font-weight: 600;
        @include desktop{
            font-size: 28px;
        }
        @include tablet{
            font-size: 24px;
        }
    }
}