@use '../../styles/mixins' as *;

.container{
    padding: 100px 0;
}
.product{
    padding: 40px 0 0 0;
    display: flex;
    gap: 110px;
    &__counter{   
        @include quantity;
        &__button{
            width: 40px;
            height: 40px;
        }
        &__text{
            font-size: 30px;
            line-height: 32px;
            font-weight: bolder;
            width: 37px;
            text-align: center;
        }
    }
    &__title{
        font-size: 36px;
        line-height: 48px;
        font-weight: bolder;
        color: #FF268E;
    }
    &__price{
        font-size: 32px;
        font-weight: 800;
        line-height: 36px;
    }
    &__titlePrice{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    &__buttonBuy,
    &__buttonCart{
        height: 40px;
        width: 100%;
        font-size: 20px;
        padding: 8px 70px;
    }
    &__buttons{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__buttonBuy{
        @include btnBuy;
    }
    &__buttonCart{
        color: var(--pink);
        font-weight: bolder;
        border: 2px solid var(--pink);
        border-radius: 8px;
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }
    &__imgContainer{
        width: 450px !important;
        height: 600px;
        position: relative;
        text-align: center;

        &__mainImg{
            width: 300px;
            height: 427px;
            object-fit: contain;
        }
        &__thumbs{
            width: 100px;
            height: 100px;
            object-fit: contain;
            border: 2px solid transparent;
            border-radius: 8px;
            padding: 8px;
            transition: 0.2s;
            margin: 50px 0 0 0;
            cursor: pointer;
            position: relative;
        }
        :global(.swiper-slide-thumb-active) img {
        border-color: var(--title) !important;
        }
        :global(.swiper-button-prev) {
            display: none;
        }
        :global(.swiper-button-next) {
            margin-top: 0 !important;
            z-index: 6 !important;
        }
        :global(.swiper-button-next:after){
            color: var(--foreground);
            font-size: 20px;
            font-weight: bold;
        }

    }
    &__thumbsContainer{
        position: relative;

        &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -10px;
        width: 110px;
        height: 100%;
        background: linear-gradient(-90deg, #fff 55%, rgba(255, 255, 255, 0));
        z-index: 5;
      }
    }
}

.back{
    @include back;
}

.tabs{
    &__item{     
        display: flex;
        flex-direction: row;
        gap: 20px;   
        align-items: center;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        transition: color 0.8s ease;
    }
    &__active{
        color: black;
    }
    &__inactive{
        color: #B3B3B3;
        line-height: 130%;
    }
    &__text{
        font-size: 16px;
        line-height: 32px;
        color: #A1A1AA;
        transition: opacity 2s ease;
    }
}
