@use '../../styles/mixins' as *;
@use '../../styles/media' as *;

.container{
    padding: 100px 0;
    position: relative;
}
.product{
    padding: 40px 0 0 0;
    display: flex;
    gap: 110px;
    @include desktop{
        gap: 95px;
    }
    @include tablet{
        gap: 50px;
    }
    @include mobile{
        flex-direction: column;
        gap: 0;
    }
    &__counter{   
        @include quantity;
        &__button{
            width: 40px;
            height: 40px;
            @include tablet{
                width: 30px;
                height: 30px;
            }
        }
        &__text{
            font-size: 30px;
            line-height: 32px;
            font-weight: bolder;
            width: 37px;
            text-align: center;
            @include tablet{
                font-size: 24px;
            }
        }
    }
    &__title{
        font-size: 36px;
        line-height: normal;
        font-weight: bolder;
        color: #FF268E;
        @include desktop{
            font-size: 32px;
        }
        @include tablet{
            font-size: 30px;
        }
        @include mobile{
            padding: 40px 0 0 0;
        }
    }
    &__price{
        font-size: 32px;
        font-weight: 800;
        line-height: 36px;
        @include desktop{
            font-size: 30px;
        }
        @include tablet{
            font-size: 24px;
        }
    }
    &__titlePrice{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    &__buttonBuy,
    &__buttonCart{
        height: 40px;
        width: 100%;
        font-size: 20px;
        padding: 8px 70px;
        @include desktop{
            padding: 8px 50px;
        }
        @include tablet{
            padding: 8px 35px;
            font-size: 16px;
        }
    }
    &__buttons{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__buttonBuy{
        @include btnBuy;
        @include mobile{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__fixedBtnContainer{
        position: sticky;
        bottom: 0;
        background-color: var(--white);
        padding: 10px 25px 20px;
        width: 100%;
        left: 0;
        z-index: 100;
        box-shadow: 0 0 8px #00000025;
    }
    &__buttonCart{
        text-align: center;
        color: var(--pink);
        border: 2px solid var(--pink);
        border-radius: 8px;
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        @include tablet{
            gap: 20px;
        }
        @include mobile{
            margin: 40px 0 0 0;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__infoContainer{
        display: flex;
        flex-direction: column;
        gap: 40px
    }
    &__imgContainer{
        width: 450px !important;
        height: 600px;
        position: relative;
        text-align: center;
        @include desktop{
            width: 400px !important;
            height: 500px;
        }
        @include tablet{
            width: 270px !important;
            height: 380px;
        }
        @include mobile{
            width: 100% !important;
            height: 250px;
        }

        &__mainImg{
            width: 300px;
            height: 427px;
            object-fit: contain;
            @include desktop{
                width: 250px;
                height: 350px;
            }
            @include tablet{
                height: 250px;
            }
        }
        &__thumbs{
            width: 100px;
            height: 100px;
            object-fit: contain;
            border: 2px solid transparent;
            border-radius: 8px;
            padding: 8px;
            transition: 0.2s;
            margin: 10px 0 0 0;
            cursor: pointer;
            position: relative;
            @include desktop{
                width: 80px;
                height: 80px;
            }
            @include tablet{
                width: 60px;
                height: 60px;
            }
            @include mobile{
                display: none;
            }
        }
        :global(.swiper-slide-thumb-active) img {
        border-color: var(--title) !important;
        }
        :global(.swiper-button-prev) {
            display: none;
            @include mobile{
                display: flex;
                z-index: 6 !important;
            }
        }
        :global(.swiper-button-prev:after){
            @include mobile{
                color: var(--foreground);
                font-size: 20px;
                font-weight: bold;
            }
        }
        :global(.swiper-button-next) {
            z-index: 6 !important;
        }
        :global(.swiper-button-next:after){
            color: var(--foreground);
            font-size: 20px;
            font-weight: bold;
        }

    }
    &__thumbsContainer{
        position: relative;

        @include gradient(-10px, 110px, 100%);
    }
}

// @media(min-width: 421px){
//     .product{
//         &__info{
//             margin: 40px 0 0 0;
//             flex-direction: column;
//             justify-content: space-between;
//         }
//     }
// }

.back{
    @include back;
}

.tabs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    &__item{     
        display: flex;
        flex-direction: row;
        gap: 20px;   
        align-items: center;
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
        transition: color 0.8s ease;

        -ms-overflow-style: none;  
        scrollbar-width: none;    

        &::-webkit-scrollbar {
            display: none;           
        }
        @include desktop{
            font-size: 16px;
        }
        @include tablet{
            overflow-x: auto; 
            overflow-y: hidden;
            white-space: nowrap;
            flex: 0 0 auto;
            width: 340px;
            @include gradient(-10px, 50px, 20px);
        }
    }
    &__active{
        color: black;
    }
    &__inactive{
        color: #B3B3B3;
        line-height: 130%;
    }
    &__text{
        font-size: 16px;
        line-height: 32px;
        color: #A1A1AA;
        transition: opacity 2s ease;
        @include desktop{
            font-size: 14px;
            line-height: 28px;
        }
    }
}