.mobileHeader{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 70px 0;
    background-color: var(--white);
    z-index: 6 !important;
    width: 100%;
    position: fixed;
    right: 0;
    top: 70px;
}

.nav{
    &__list{
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: center;
    }
    &__link{
        font-size: 20px;
        font-weight: 500;
    }
}